// Reset Css
*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
}

html,
body {
	height: 100%;
}

body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}

a {
	text-decoration: none;
}

img,
picture,
video,
canvas,
svg {
	display: block;
}

input,
button,
textarea,
select {
	font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

li {
	list-style: none;
}

#root,
#__next {
	isolation: isolate;
	position: relative;
	height: 100%;
	overflow: hidden;
}

// Base
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Public+Sans:wght@400;700&display=swap');

:root {
	// Font
	--font-public-sans: 'Public Sans', serif;
	--font-dm-display: 'DM Serif Display', serif;

	// Font-Size
	--heading-xxl: 7.2rem;
	--heading-xl: 5.6rem;
	--heading-lg: 4.8rem;
	--heading-md: 3.2rem;
	--heading-sm: 2.4rem;
	--heading-xs: 1.8rem;

	// Color
	--dark-pink: hsl(337, 48%, 49%);
	--light-pink: hsl(337, 60%, 64%);
	--blue: hsl(207, 33%, 32%);
	--dark-blue: hsl(207, 27%, 15%);
	--light-blue: hsl(207, 16%, 50%);
	--pale-blue: hsl(209, 46%, 95%);
	--white: hsl(220, 60%, 99%);
}
